/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* ------------------------------------------------------------ GENERAL */

* 
{
    cursor: default;
}

button
{
    outline: none;
    border: none;
    cursor: pointer;
}

.invisible
{
    display: none !important;
}

.flex-center 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.flex-column
{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* Disabled class for Answers */
.disabled-quiz 
{
    pointer-events: none;
    color: #000 !important;
}

/* correct and wrong classes (for answers) */
.answer.correct 
{
    background: green !important;
    border-color: #333 !important;
    color: #fff !important;
}

.answer.wrong 
{
    background: red !important;
    border-color: #333;
}


/* ------------------------------------------------------------ MAIN CONTAINER */

.main-cont 
{
    width: 100vw;
    height: 100vh;
    background: #525252;
    background: #333;
}


/* ------------------------------------------------------------ BUTTONS */


/* Reload - BUTTON */
.reload-btn
{
    position: absolute;
    top: 12%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 1.2em;
    font-size: 1.6em;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
    z-index: 999;
}

.reload-btn i
{
    cursor: pointer;
}

/* HOVER - Reload Btn */
.reload-btn:hover
{
    color: crimson;
    -webkit-transform: translateX(-50%) rotate(180deg) scale(1.01);
        -ms-transform: translateX(-50%) rotate(180deg) scale(1.01);
            transform: translateX(-50%) rotate(180deg) scale(1.01);
}

/* BUTTON - Start/Restart Quiz */
.start-quiz-btn,
.restart-quiz-btn
{
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.3);
            box-shadow: 0 0 15px rgba(0,0,0,.3);
    padding: 10px 15px;
    border-radius: 25px;
    font-weight: bolder;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    outline: none;
}

.start-quiz-btn
{

    font-size: 1.3em;
}

.restart-quiz-btn
{
    margin-top: 1em;
}

/* HOVER - Start/Restart Quiz Btn */
.start-quiz-btn:hover,
.restart-quiz-btn:hover
{
    background: #000;
    color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
}
    

/* ------------------------------------------------------------ START SCREEN / MENU SCREEN */

.start-screen-quiz 
{
    position: absolute;
    min-width: 500px;
    height: 400px;
    background: #6441A5;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.5);
            box-shadow: 0 0 15px rgba(0,0,0,.5);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 15px;
    display: none;
}

/* Navigation BUTTONS */
.nav-btn-cont
{
    position: absolute;
    top: 10%;
    font-size: 1.8em;
    color: #000;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.nav-btn-cont > a
{
    color: #000;
    margin-left: .5em;
    cursor: pointer
}

.nav-btn-cont >* i
{
    cursor: pointer;
}

.nav-btn-cont > a:hover,
.nav-btn-cont > span:hover
{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    color: #fff;
}

/* Headline */
.quiz-headline
{
    margin-bottom: .5em;
    font-size: 3em;
    color: #fff;
    font-weight: bold;
}

.fa-question-circle
{
    color: #fafafa;
    background-color: #000;
    border-radius: 50%;
    font-size: 2.5em;
    margin-bottom: .6em;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.fa-question-circle:hover
{
    color: green;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

/* Link to General knowledge quiz */
.link-to-other-quiz
{
    color: #eee;
    margin-bottom: 1.5em;
    font-size: smaller;
    font-weight: bold;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    cursor: pointer;
}

.link-to-other-quiz:hover
{
    color: #000;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05)
}


/* ------------------------------------------------------------ RULES/INFO SCREEN */  

.quiz-info-screen
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eee;
    border-radius: 15px;
    z-index: 3;
}

.quiz-info-screen p,
.quiz-info-screen li
{
    font-weight: 600;
    line-height: 1.6em;
    color: #000;
}

.quiz-info-screen ul
{
    list-style: none;
}

/* Span for Joker description */
.joker-descr
{
    color: crimson;
}

.info-headline
{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: .5em;
}

/* Close Info Screen - BUTTON */
.close-info-screen-btn
{
    position: absolute;
    top: 1%;
    left: 3%;;
    width: 30px;
    height: 30px;
    color: #333;
    border-radius: 50%;
    font-size: 2em;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.close-info-screen-btn:hover
{
    color: crimson;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

/*---------------------------------------------------------------- SCORE SCREEN */        

.score-screen-quiz 
{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: -o-linear-gradient(left, #1e3c72, #2a5298);
    background: -webkit-gradient(linear, left top, right top, from(#1e3c72), to(#2a5298));
    background: linear-gradient(to right, #1e3c72, #2a5298);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.3);
            box-shadow: 0 0 15px rgba(0,0,0,.3);
    color: #fafafa;
    font-size: 1.5em;
    width: 800px;
    height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    display: none;
    border-radius: 5px;
}

/* Visible class for Score Screen */
.visible 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.score-screen-txt
{
    margin-bottom: .3em;
}

.score-screen-score-txt
{
    font-weight: bolder;
    color: #fff;
    font-size: 1.2em;
}

/*---------------------------------------------------------------- CURRENT QUESTION CONTAINER */             

.current-question-cont 
{
    right: 5%;
    background: #0a2a43;
    padding: .5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2em;
    font-weight: bolder;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
            box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.current-question 
{
    width: 45px;
    height: 45px;
    background: #fafafa;
    border-radius: 50%;
    margin: 1px 0;
    font-size: .6em;
    font-weight: bold;
}

/* Current Question Checkpoint (5, 10) */
.current-question.checkpoint 
{
    background: crimson;
}

/* Correctly answered current question */
.current-question.selected 
{
    background: lightgreen;
}

/* Correctly answered checkpoint - current question */
.current-question.checkpoint.selected {
    background: #0a2a43;
}


/* ---------------------------------------------------------------- JOKER BTNS */

.joker-cont 
{
    border-radius: 25px;
    position: absolute;
    bottom: -5em;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 5;
}

.joker 
{
    position: relative;
    background: crimson;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #fafafa;
    font-weight: bolder;
    font-size: .8em;
    margin: .3em;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.3);
            box-shadow: 0 0 15px rgba(0,0,0,.3);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.joker:hover
{
    background: red;
}

.disabled-joker
{
    position: relative;
    pointer-events: none;
    background: #525252;
}

.disabled-joker:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    background: #000;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.revive-joker-btn
{
    cursor: default;
}

.revive-joker-btn:hover
{
    background: #525252;
}

/* ---------------------------------------------------------------- QUIZ CONTAINER + TIMER/CLOCK */

.quiz
{
    position: relative;
}

/* Timer/Clock */
.quiz-clock
{
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-color: #fafafa;
    position: absolute;
    top: -10%;
    left: 50%;
    color: #000;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.6);
            box-shadow: 0 0 15px rgba(0,0,0,.6);
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 100;
}

.quiz-clock > p
{
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

/* Quiz Container */
.quiz-container 
{
    display: -ms-grid;
    display: grid;
    width: 800px;
    height: 500px;
    border-right: 10px solid #333;
    border-radius: 15px;
}


/* ---------------------------------------------------------------- QUESTION CONTAINER */        

.question-cont 
{
    position: relative;
    background: #0a2a43;
    text-align: center;
    padding: 0 3.5em;
    border-radius: 5px 5px 0 0;
}

.question 
{
    padding-top: 3em;
    font-size: 1.4em;
/*            font-size: 1.6em;*/
    font-weight: bolder;
    color: #fff;
}


/* ---------------------------------------------------------------- ANSWERS CONTAINER */        

.answers-cont 
{
    background: #fafafa;
    border: 20px solid #0a2a43;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    padding: 1em;
    border-radius: 0 0 5px 5px;
}

/* BUTTON - Answer */
.answer 
{
    position: relative;
    margin: auto;
    width: 90%;
    height: 100%;
    background: crimson;
    border: solid crimson 2px;
    text-transform: capitalize;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
            box-shadow: 0 0 5px rgba(0,0,0,.3);
    text-align: center;
    font-weight: bolder;
    font-size: 1em;
    color: #fafafa;
    cursor: pointer;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    border-radius: 5px;
}

/* HOVER - Answer Btn */
.answer:hover 
{
    background: #fafafa;
    color: crimson;
}


/* ------------------------------------------------------------ MEDIA QUERIES */

/* Tablet */
@media only screen and (max-width: 768px) 
{
    .current-question-cont
    {
        position: absolute;
        top: 5%;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        width: 85%;
    }
    
    
    .current-question
    {
        -webkit-transform: scale(.9);
            -ms-transform: scale(.9);
                transform: scale(.9);
    }
    
    .joker-cont
    {
        width: 70%;
        left: 50%;
        bottom: -8em;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    
    .joker
    {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
                transform: scale(1.3);
        margin: 0 1em;
    }
    
    .answers-cont
    {
        border: none;
    }

    .quiz-container
    {
        border-right: none;
    }
    
    .quiz,
    .quiz-container,
    .score-screen-quiz
    {
        width: 100%;
    }
}


/* Mobile */
@media only screen and (max-width: 576px)
{
    /* reduces font size */
    *
    {
        font-size: .95em;
    }
    
    .reload-btn
    {
        top: 2%;
    }
    
    /* Start Screen */
    .start-screen-quiz
    {
        min-width: 100%;
    }
    
    /* Current Question Cont */
    .current-question-cont
    {
        top: 0;
        width: 100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        font-size: 1.5em;
    }
    
    .current-question
    {
        width: 30px;
        height: 30px;
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
                box-shadow: 0 0 10px rgba(0,0,0,.3)
    }
    
    /* Quiz Clock */
    .quiz-clock
    {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        top: 10%;
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,.6),
                    0 0 0 1px #000;
                box-shadow: 0 0 15px rgba(0,0,0,.6),
                    0 0 0 1px #000;
    }

    .quiz-clock > p
    {
        font-size: 1.5em;
    }
    
    /* Quiz Container */
    .quiz-container
    {
        height: 75vh;
        width: 100%;
    }
    
    /* Answers Container */
    .answers-cont
    {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
    }
    
    .answer
    {
        font-size: 1.3em;
    }
    
    /* Jokers Container */
    .joker-cont
    {
        width: 100%;
        bottom: -4.5em;
        padding: 0 1%;
    }
    
    .joker
    {
        margin: 0 .8em;
        height: 40px;
        width: 40px;
        font-size: .67em;
        margin: 0 1em;
    }
}


/* Iphone 5se */
@media only screen and (max-width: 350px)
{
    .question
    {
        font-size: 1.2em;
    }
    
    .answer
    {
        font-size: 1em;
    }
}