/* ----------------------------------------------- GENERAL */

.html 
{
    background: #333;
    scroll-behavior: smooth;
}

body
{
    background: #333;
}

/* HOVER For Links */
a:hover
{
    text-decoration: none !important;
    color: #000 !important;
}

.flex-center 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column 
{
    flex-direction: column;
}

/* Hidden class - display: none */
.hidden 
{
    display: none !important;
}

/* Opacity class */
.opacity 
{
    opacity: 0 !important;
    z-index: -100 !important;
}

/* Just visible on mobile */
.visible-on-mobile
{
    opacity: 0;
}

/* Buttons */
button 
{
    cursor: pointer;
    outline: none !important;
    border: none;
    border-radius: 5px;
}

input
{
    outline: none !important;
}



/* ----------------------------------------------- SCROLLBAR */

/* Scrollbar (width) */
::-webkit-scrollbar
{
    width: 5px;
}

/* Scrollbar Track (background) */
::-webkit-scrollbar-track
{
    background: #333;
    background: #555;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb
{
    background: #888;
/*            background: #fff;*/
/*            background: #555;*/
    border-radius: 5px;
}

/* HOVER - Scrollbar Thumb */
::-webkit-scrollbar-thumb:hover 
{
    background: #555;
    background: #888;
}


.loading-cont
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    font-size: 2em;
    font-weight: bold;
    color: #fafafa;
}

/* ----------------------------------------------- MAIN CONTAINER */

.pdex-list-main-cont 
{
    position: relative;
    padding-top: 80px;
    width: 100vw;
    min-height: 100vh;
    background-color: #333;
    justify-content: flex-start;
}


/* ----------------------------------------------- HEADER */

.pdl-header 
{
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    background: crimson;
    border-bottom: solid 5px #fafafa;
    box-shadow: 0 0px 35px rgba(0,0,0,.6);
    z-index: 2;
}

/* SELECTED - Header */
.pdl-header.selected-menu
{
    border-bottom: solid #000 5px;
    box-shadow: 0 0px 25px rgba(0,0,0,.5);
}

/* Header Headline */
.pdl-header-headline
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bolder;
    text-shadow: .5px .3px 1px #fafafa;
    font-size: 1.5em;
    cursor: default;
    z-index: -1;
}

/* Search Container (Header) */
.pdl-header-search-cont
{
    position: absolute;
    right: 10%;
}


/* Header BUTTONS*/
.pdex-list-search-btn 
{
    border: solid 2px #333;
    background-color: #333;
    font-weight: 600;
    color: #fff;
    width: 60px;
    border-radius: 5px;
    padding: 0 .2em;
    cursor: pointer;
    transition: .3s;
}

/* HOVER - Search Btn */
.pdex-list-search-btn:hover
{
    background: #fafafa;
    color: #000;
}


/* ----------------------------------------------- HEADER - MENU */

/* HEADER MENU BTN */
.header-menu-btn
{
    position: absolute;
    bottom: -35%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: #fafafa;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    box-shadow: 0px 0px 5px rgba(0,0,0,.6);
    cursor: pointer;
    z-index: 999;
}

/* SELECTED - Menu Button */
.header-menu-btn.selected-menu
{
    border: solid #000 5px;
    background: #fff;
}

/* Menu Container */
.header-menu-cont
{
    position: absolute;
    top: 0;
    transition: .3s;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15%;
    left: 0;
    height: 75px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.5),
                    0 -10px #000;
    z-index: 1;
}

/* SELECTED - Menu Container */
.header-menu-cont.selected-menu
{
    top: 82.5px;
/*            top: 80px; !!! */
}


/* ----------------------------------------------- NAVIGATION */

/* LINK to home - Logo */
.logo
{
    margin-right: 1.5em;
    font-weight: bolder;
    color: #f3f3f3;
    cursor: pointer;
    text-shadow: .5px 0px 3px rgba(0,0,0,.8),
                    .5px 0px 3px rgba(0,0,0,.8);
}

/* HOVER - Logo */
.logo:hover
{
    color: #fff !important;
}

.nav a
{
    position: relative;
    margin: .5em;
    padding: .1em;
    color: #333;
    font-weight: bold;
}

/* Nav - Underline */
.nav a:before
{
    content: '';
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    background: #000;
    transform-origin: center;
    transition: .3s;
}

/* HOVER - Underline */
.nav:hover.nav a:before
{
    width: 100%;
}

/* Toggle Checkboxes */
.toggle-check
{
    margin-left: 1.5em;
    margin-right: .5em;
    cursor: pointer;
}

.check-label
{
    font-weight: 600;
    font-size: .8em;
    color: #000;
    cursor: default;
}

/* Toggle Specific Search BUTTON */
.specific-search-btn
{
    background: #000;
    color: #fafafa;
    transition: .3s;
    font-weight: 600;
    margin-left: 2em;
    border: solid 1px #000;
}

/* HOVER - Specific Search Btn */
.specific-search-btn:hover
{
    background: #fafafa;
    color: #000;
    border: solid 1px #000;
}

header .toggle-search-btn
{
    position: absolute;
    right: 8%;
    font-size: 1.3em;
    color: #fff;
    border-radius: 50%;
    padding: .5em;
    transition: .3s;
    display: none;
}

.toggle-search-btn:hover
{
    color: #000;
    background: rgba(255,255,255,.6);
}


/* ----------------------------------------------- POKEDEX LIST CONTAINER */

.pdl-cont 
{
    position: relative;
    padding-top: 10px;
    width: 80%;
    padding-bottom: 5em;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 260px);
    gap: 20px;
}


/* ----------------------------------------------- POKEDEX CARDS WIDE */

.poke-card-wide 
{
    position: relative;
    padding: .5em 1em;
    padding-top: 10%;
    height: 150px;
    display: flex;
    border-radius: 15px;
    background-color: #FB6C6C;
    overflow: hidden;
    transition: .3s;
    cursor: pointer;
}

/* HOVER - Card wide */
.poke-card-wide:hover 
{
    transform: scale(1.05);
}

/* Surface on card with onclick function */
.poke-card-wide-click 
{
    transition: .3s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 3200;
}

/* Pokemon ID (right corner) */
.poke-card-wide-id 
{
    position: absolute;
    right: 6%;
    top: 3%;
    color: rgba(55, 55, 55, .6);
    margin-left: 5%;
    font-size: 1em;
    font-weight: bolder;
    z-index: 1;
}

/* Pkmn Name */
.poke-card-wide-headline 
{
    font-size: 1.3em;
    margin-bottom: .5em;
    color: #fff;
    letter-spacing: .01em;
    margin-left: 5%;
    text-shadow: 0 0 5px rgba(0,0,0,.3);
}


#popup-pkmn-headline 
{
    text-shadow: 0 0 5px rgba(0,0,0,.2);
}

/* Pokemon Type/s */
.poke-card-wide-type 
{
    width: 50%;
    margin: .5em;
    margin-left: 5%;
    border-radius: 20px;
    padding: .3em 3em;
    font-weight: 600;
    color: #fff;
    font-size: small;
    letter-spacing: .15em;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0 0 1px rgba(0, 0, 0, .8);
    box-shadow: 0 0 3px rgba(0,0,0,.1);
}

/* Pkmn Card right side (image) */
.poke-card-wide-right 
{
    position: absolute;
    width: 50%;
    height: 100%;
    right: -3%;
    text-shadow: 0 0 .5px rgba(0, 0, 0, .3);
}

/* Pokemon Img */
.poke-card-wide-img 
{
    position: absolute;
    top: 15%;
    right: 3%;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-card-wide-right img 
{
    position: absolute;
    bottom: 0%;
    height: 100%;
    width: 100%;
    transform: scale(.95) translate(-10%, -20%);
    z-index: 15;
}


/* ----------------------------------------------- Pokemon Circle / Pokeball (rotating) */

.poke-circle,
.poke-inner-circle 
{
    position: relative;
    width: 50%;
    height: 50%;
    border-radius: 50%;
}


/* ANIMATION for Poke Circle (rotation 360deg) */
.poke-circle-animation
{
    animation: rotate-ball infinite 10s linear;
}

@keyframes rotate-ball 
{
    from
    {
        transform: rotate(0);
    }
    to 
    {
        transform: rotate(360deg)
    }
}

.circle-left
{
    content: '';
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
    height: 35%;
    width: 55%;
    background-color: #000;
}

.circle-right
{
    content: '';
    position: absolute;
    right: -50%;
    top: 50%;
    transform: translateY(-50%);
    height: 35%;
    width: 55%;
    background-color: #000;
}

.poke-inner-circle
{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: transparent;
}

.poke-inner-circle:before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 60%;
    border-radius: 50%;
    background-color: rgba(255,255,255,.5);
}


/* ----------------------------------------------- FILTETR BY TYPE BUTTONS */

.poke-type-btn-cont 
{
    font-size: .85em;
    width: 80%; 
    text-align: center;
    margin: 1em 0;
    margin-top: 3em;
}

/* Type Filter BUTTONS (filter by type) */
.poke-type-filter-btn 
{
    border-radius: 20px;
    padding: .3em 1em;
    margin: .3em .1em;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}


/* ----------------------------------------------- POPUP CONTAINER */

.pdl-popup-cont 
{
    position: fixed;
    left: 0%;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    cursor: default;
    z-index: 6001;
}

/* ----------------------------------------------- POPUP TOP SECTION (BG) */

/* Close Popup window btn */
.popup-close-btn 
{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    z-index: 30000;
}

/* Close Popup Btn - Hover */
.popup-close-btn:hover 
{
    transform: translateX(-50%) scale(1.3);
    background: #fafafa;
}

/* Close Popup Btn Crosses - Hover */
.close-specific-filter-btn:hover .cross,
.popup-close-btn:hover .cross 
{
    background: #000;
}

/* Close Popup Btn Cross X */
.cross 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 50%;
    height: 1px;
    background: #333;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    transition: .3s;
}

.cross2 
{
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Popup Sprite / Image */
.pdl-popup-img 
{
    position: fixed;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    width: 13em;
    background-size: cover;
    cursor: pointer;
    transition: .3s;
}

/* Pokemon Id */
.pdl-popup-id 
{
    margin-top: 3%;
    margin-left: 90%;
    font-size: 1.8em;
    letter-spacing: .05em;
    font-size: 1.5em;
    font-weight: bold;
    color: #F0FBF9;
    text-shadow: 0 0 5px rgba(0,0,0,.3);
}

/* Pokemon Type/s */
.popup-type 
{
    padding: .5em 2em;
    font-size: .8em;
    color: #F0FBF9;
    font-weight: bold;
    min-width: 6.9em;
    text-shadow: 0 0 5px rgba(0,0,0,.3);
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}

/* Pokemon Name */
.pdl-popup-pokemon-name 
{
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 0em;
    color: #F0FBF9;
}


/* ----------------------------------------------- POPUP TOP SECTION - BACKGROUND/BG */

.pdl-popup-bg 
{
    width: 100%;
    height: 25%;
    padding: 2% 30%;
    padding-top: 1.5em;
    background: #FB6C6C;
    align-items: flex-start;
}


/* ----------------------------------------------- POPUP TABS BUTTONS */

.pdl-popup-tabs 
{
    padding-left: 0;
    list-style: none;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    padding: 0 1em;
    z-index: 6000;
}

/* Tab BUTTON */
.popup-tab 
{
    font-weight: bold;
    color: #fff;
    font-size: 1.2em;
    transition: .3s;
    cursor: pointer;
    transition: .3s;
    border-radius: 5px;
    padding: .5em;
}

/* HOVER - Popup tabs Btn */
.popup-tab.selected-tab,
.popup-tab:hover 
{
    color: #333;
    background: #fafafa;
}

/* Selected Class for Tabs */
.popup-tab.selected-tab 
{
    pointer-events: none;
}


/* ----------------------------------------------- POPUP BOTTOM SECTION / CONTENT CONTAINER */

/* Content Section (bottom) */
.pdl-popup-content 
{
    padding-top: 5em;
    width: 60%;
}

.popup-content-tab-cont 
{
    border-radius: 25px;
    position: relative;
    width: 100%;
    min-height: 450px;
    background: #fafafa;
    margin-top: 1em;
    flex-wrap: wrap;
}


/* ----------------------------------------------- POPUP ABOUT TAB (General data, locations, etc.) */

/* About Tab */
#about-tab-cont 
{
    padding: 2% 0;
    padding-bottom: 4%;
    flex-wrap: wrap;
}

/* Data Atrributes */
.poke-data-attr 
{
    font-weight: 600;
    width: 40%;
    margin-right: 5em;
    color: #333;
}

/* Data Values */
.poke-data-attr-val 
{
    width: 60%;
    font-weight: bold;
    color: #333;
}

.about-to-txt-btn 
{
    position: absolute;
    top: 8%;
    right: 10%;
    z-index: 1;
}

/* BUTTONS that open Locations/Versions and Description Window */
.location-list-btn,
.about-to-txt-btn 
{
    padding: .5em;
    font-weight: bold;
    font-size: .8em;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}

/* HOVER - for Buttons above */
.about-to-txt-btn:hover,
.location-list-btn:hover 
{
    background: #000;
    background: #333;
    color: #fafafa;
    transform: scale(1.05);
}

.about-to-txt-btn .far 
{
    font-size: 1.1em;
    margin-right: .3em;
}

/* ----------------------------------------------- DESCRIPTION WINDOW */
.about-pkmn-descr-txt-cont 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    background-color: #00CDDA;
    justify-content: space-around;
    border-radius: 25px;
    padding: 10% 10%;
    z-index: 3;
}

/* Sprites */
.about-sprites-cont 
{
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-bottom: 3%;
}

.about-sprites-headline 
{
    position: absolute;
    top: -25%;
    color: #333;
    font-weight: 800;
}

.about-sprites 
{
    background: #333;
    border-radius: 5px;
    padding: .3em;
    margin: 0 5%;
}

.sprite 
{
    width: 100px;
    height: 100px;
    background-color: #fafafa;
    border-radius: 5px;
    margin: 5px;
}

.sprite:nth-child(2) 
{
    margin-right: 5px;
}

.sprite img 
{
    transform: scale(1.1);
}

/* Description Text (About Tab) */
.about-descr-txt 
{
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    padding: 1em;
    border-radius: 5px;
    background-color: #333;
    text-align: center;
}

/* Descrition Text little headlines */
.about-descr-txt h3 
{
    border-bottom: solid;
    padding-bottom: .5em;
    margin-bottom: .5em;
}

/* ----------------------------------------------- LOCATION LIST WINDOW */
.location-list-cont 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    flex-wrap: wrap;
    background: #EBA921;
    border-radius: 25px;
    color: #f3f3f3;
    width: 100%;
    padding: 5%;
    padding-top: 3%;
    min-height: 100%;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, .5);
    cursor: default;
    z-index: 2;
}

/* BUTTON to open Versions Window */
.to-versions-btn 
{
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    color: #000;
    background-color: #fafafa;
    border-radius: 0 25px;
    padding: .5em .8em;
    cursor: pointer;
    transition: .3s;
}

/* HOVER - Versions Btn */
.to-versions-btn:hover {
    padding: .5em 1.1em;
}

.location-list-cont h3 
{
    width: 100%;
    text-align: center;
    margin-bottom: .5em;
    font-size: 2.1em;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, .5);
}

.location-list-cont p 
{
    font-size: 1.05em;
    margin: 2px 5px;
    font-weight: bold;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, .8);
    background: rgba(0, 0, 0, .5);
    border-radius: 5px;
    padding: .1em .5em;
}

/*        bei responsive : colulmn margin : 15px 0;*/

/* ----------------------------------------------- BREEDING DATA CONTAINER */
.general-data-cont,
.breed-data-cont 
{
    position: relative;
    width: 50%;
    padding: 0 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Gender Icons */
.fa-mars 
{
    color: dodgerblue;
    margin-right: 3px;
}

.fa-venus 
{
    color: deeppink;
}

.gender-gap 
{
    margin-right: 1em;
}

/* ----------------------------------------------- BREED / TRAINING / LOCATION HEADLINE */
.breed-data-headline 
{
    font-size: 1.3em;
    font-weight: bolder;
    letter-spacing: .05em;
    margin: 1em 0;
    padding-bottom: .5em;
    box-shadow: 0 2px 0px rgba(0, 0, 0, .5)
}

.general-data-row 
{
    width: 100%;
    display: flex;
    margin-top: 1em;
}

/* Color Icon for Pkmn color */
.p-color-icon 
{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}


/* ----------------------------------------------- LARGE IMAGE CONTAINER (WHEN CLICKING PKMN SPRITE) */

.large-img-screen 
{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #333;
    z-index: 9999999;
}

/* Pokemon Image (Large) */
.large-img 
{
    width: 25em;
    height: 25em;
    margin-bottom: 5%;
}

/* Line uner Large Image */
.img-underline 
{
    width: 25em;
    height: 3px;
    background: #fafafa;
    margin-bottom: 3%;
}

/* Sprites */
.large-img-sprite 
{
    width: 100px;
    width: 5em;
    height: 100px;
    height: 5em;
    margin: 15px;
    border-radius: 5px;
    background: #fafafa;
}


/* Large Image Close BUTTON */
.large-img-close-btn 
{
    position: absolute;
    top: 5%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, .2);
    cursor: pointer;
    transition: .3s;
    z-index: 2;
}

/* Cross Close Btn */
.large-img-close-btn .cross 
{
    height: 2px;
    height: 1.5px;
}

/* HOVER - L. Img Close Btn */
.large-img-close-btn:hover 
{
    background: #fafafa;
}

/* HOVER - Close Btn Cross */
.large-img-close-btn:hover .cross 
{
    background: #333;
    box-shadow: none;
}


/* ----------------------------------------------- BASE STATS CONTAINER TAB */

.poke-stats-cont 
{
    margin-top: 5%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

#base-stats-cont p 
{
    width: 70%;
    font-weight: bold;
    background: #333;
    color: white;
    padding: 3%;
    border-radius: 25px;
    margin: 3% 0;
}

.poke-stat 
{
    margin: .3em 0;
    color: #000;
}

/* Base Stats Attributes */
.poke-stat-attr 
{
    width: 20%;
    font-weight: bolder;
    font-size: 1.1em;
    color: #333;
}

/* Base Stats Values */
.poke-stat-num 
{
    width: 15%;
    font-weight: bolder;
    font-size: 1.3em;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .3);
}

/* Stats Progress Bar */
.poke-stat-progr-bar 
{
    position: relative;
    width: 75%;
    border-radius: 25px;
    background-color: rgba(55, 55, 55, .4);
    height: 1em;
    overflow: hidden;
    box-shadow: .5px .5px .5px rgba(0, 0, 0, .5);
    transition: .3s;
}

/* Progress bar filling */
.stat-progr-bar-filling 
{
    position: absolute;
    left: 0;
    height: 100%;
    border-radius: 25px;
    box-shadow: .5px 0 1px rgba(255, 255, 255, .5);
    transition: width 1s;
}

/* For progress bars animation (remove for animation effect) */
.progress-zero 
{
    width: 0 !important;
}

/* PROGRESS BARS FILLING COLORS (Hp, Def, Attack, etc.) */
.hp-stat-filling 
{
    background-color: #C01F1C;
}

.att-stat-filling 
{
    background-color: #009AAF;
}

.def-stat-filling 
{
    background-color: #E87C2E;
}

.sp-att-stat-filling 
{
    background-color: #395F81;
}

.sp-def-stat-filling 
{
    background-color: #94013C;
}

.speed-stat-filling 
{
    background-color: #F2C92E;
}

.total-stat-filling 
{
    background-color: #593C7E;
}


/* ----------------------------------------------- EVOLUTIONS CONTAINER TAB */

#evolutions-tab-cont 
{
    padding: 5%;
    cursor: default;
}

/* Headline */
.popup-evolution-headline 
{
    margin-bottom: 1.5em;
}

/* Evolutions (Circles with evolution images inside) */
.popup-evolution 
{
    border-radius: 50%;
    width: 7em;
    height: 7em;
    background-color: rgba(0, 0, 0, .1);
}

/* Evolution Image */
.popup-evolution img 
{
    object-fit: cover;
    width: 60%;
    transform: scale(1.2);
}

/* Evolution Arrows Triggers, Level and Name */
.popup-evolution-arrow 
{
    position: relative;
    width: 4.5em;
    height: 5px;
    background-color: #333;
    margin: 0 1.5em;
    text-align: center;
}

.popup-evolution-arrow:before,
.popup-evolution-arrow:after 
{
    content: '';
    position: absolute;
    right: -3px;
    width: 20%;
    height: 5px;
    background-color: #333;
    border-radius: 10px;
}

.popup-evolution-arrow:before 
{
    transform: rotate(40deg) translateY(-65%);
}

.popup-evolution-arrow:after 
{
    transform: rotate(-40deg) translateY(65%);
}

.evolution-trigger,
.evolution-level 
{
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    font-size: .8em;
}

/* Trigger for evolution */
.evolution-trigger 
{
    top: -500%;
    color: #333;
}

/* Lover for evolution */
.evolution-level 
{
    margin-top: .8em;
    color: blue;
    transform: translateX(-50%);
}

/* IMG - for Mega evolution (below arrow) */
.mega-stone-img
{
    transform: translateY(5px);
    width: 25px;
}

/* Evolution names */
.evolution-name 
{
    font-weight: bold;
    margin-top: .5em;
    color: #333;
}

/* Mega Evolution Container */
.mega-evolution-cont 
{
    padding-top: 2em;
    margin-top: 1em;
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, .5);
}


/* ----------------------------------------------- TYPE ADVANTAGE TAB */

#type-adv-tab 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4em 8% 2% 8%;
    gap: 10px;
    padding-bottom: 2.5em;
    padding-top: 5em;
    cursor: default;
}

/* BUTTONS to switch between Advatages & Weaknesses */
.switch-weakn-adv-btn-cont 
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 15px;
    padding: 2.5em 30%;
    justify-content: space-around;
}

.swich-to-weakn-adv-btn 
{
    background-color: crimson;
    color: #fff;
    padding: 0em .5em;
    margin: 5px;
    border-bottom: solid #000;
    transition: .3s;
    font-weight: 600;
}

/* Switch BUTTONS (Adv/Weakn.) HOVER & SELECTED */
.swich-to-weakn-adv-btn.selected-adv,
.swich-to-weakn-adv-btn:hover 
{
    background-color: #000;
    border-bottom: solid crimson 4.5px;
}

.swich-to-weakn-adv-btn.selected-adv 
{
    pointer-events: none;
}

/* Type Adv/Weakn. Container & Types */
.adv-type-cont 
{
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.adv-type 
{
    text-align: center;
    min-width: 80px;
    font-size: .8em;
    font-weight: 600;
    letter-spacing: .2em;
    color: #fff;
    text-shadow: 0px 0 5px #000;
    padding: .2em .5em;
    background-color: crimson;
    border-radius: 5px;
    margin-bottom: .8em;
}

.adv-value 
{
    transform: translateY(-8px);
    font-weight: bolder;
    color: #000;
    font-size: 1.05em;
}


/* ----------------------------------------------- MOVES CONTAINER TAB */

#moves-tab-cont 
{
    transition: .3s;
    padding: 3%;
    min-height: 500px;
}

/* Move Category BUTTONS (TABS) (Change move categories - Lv, Tm, Tutor, Egg Moves) */
.moves-category-btn-cont 
{
    position: absolute;
    top: 5%;
    background: #333;
    color: #fff;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 250px
}

.moves-category-btn 
{
    transition: .3s;
    height: 100%;
    padding: .5em;
    cursor: pointer;
}

/* SELECTED - For M. Categories */
.moves-category-btn.selectedBtn 
{
    background: #fafafa;
    color: #333;
    font-weight: 700
}

/* Move BUTTONS */
.popup-moves 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    width: 100%;
    padding: 5%;
    padding-top: 80px;
}

.popup-move 
{
    margin: 5px;
    cursor: default;
    font-size: .8em;
}

/* Move Button - click to open Move Descr. Window */
.move-name 
{
    background-color: #51C4E7;
    border-radius: 5px;
    font-size: 1em;
    padding: .3em .8em;
    margin: 0px;
    text-shadow: .1px 0 5px #000;
    font-weight: 600;
    color: #fff;
    transition: .3s;
    cursor: pointer;
    
}

/* Move Button - HOVER */
.move-name:hover 
{
    color: #000;
    transform: scale(1.05);
    text-shadow: .1px 0 5px #fff;
}


/* ----------------------------------------------- MOVE DESCRIPTION WINDOW */

.popup-move-descr-cont 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding: 3%;
    margin: 0;
    background: #fafafa;
    border-radius: 25px;
    cursor: default;
    justify-content: space-between;
    z-index: 6000;
}

/* BUTTON to close Move Descr. Window */
.popup-move-descr-back-btn 
{
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 1.5em;
    color: #fff;
    color: #000;
    background-color: #fafafa;
    border-radius: 25px 0;
    padding: .1em .8em;
    cursor: pointer;
    transition: .3s;
}

/* HOVER - for button Above */
.popup-move-descr-back-btn:hover 
{
    padding: .1em 1em;
}

/* Grid for Move Data / Description */
.move-descr-grid 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 5px;
    width: 100%;
    margin-bottom: 3%;
}

/* Move Descr. Data (Namem, label, Txt, etc.) */
.move-descr-name 
{
    margin-bottom: 3%;
    font-size: 1.8em;
    font-weight: bolder;
    letter-spacing: .03em;
    color: #fafafa;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.move-descr-cont 
{
    padding: 4%;
    border-radius: 5px;
    background: #000;
    color: #fff;
}

/* Description Text for Moves */
.move-descr-cont p 
{
    margin: 0;
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

/* Label for Move */
.move-descr-label 
{
    font-weight: 600;
    margin-bottom: 3px;
}

.move-descr-txt 
{
    padding: 0;
    text-align: center;
    font-size: 1.05em;
    font-weight: bold;
    background: #fafafa;
    border-radius: 5px;
    margin-bottom: 1%;
    padding: 1% 2%;
}

/*!!!!!!!!!!!!!!!!!!!!!!*/
/* -----------------------------------------------  HEADER - SEARCH POKEMON (Input - filters pkmn by name/id)  */

#poke-search,
#start-poke-search
{
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    padding: 2px 10px;
    font-weight: 500;
    width: 150px;
    box-shadow: 1px 1px 10px 5px rgba(1,1,1,.2);
    transition: .6s ease;
}

#poke-search:focus
{
    box-shadow: 0px 10px 10px -8px rgba(1,1,1,.8);
}

/* Display Pkmn-Generation BUTTONS */
.pdl-gen-btns-cont
{
    position: absolute;
    left: 10%;
    cursor: default;
}

.display-gen-btn
{
    background: #000;
    background: #333;
    color: #fff;
    outline: none;
}

/* SELECTED - Generation Btns */
.display-gen-btn.selected-gen-btn
{
    background: #fff;
    color: #000;
    box-shadow: 0 0 0 3px #000;
}

/* ----------------------------------------------- SPECIFIC FILTER CONTAINER */

.pdl-complexer-filter-cont 
{
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6em 0 2.5em 0;
    justify-content: space-around;
    min-width: 500px;
    min-height: 600px;
    border-radius: 25px;
    background-color: #333;
    font-weight: 600;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
    z-index: 7000;
}

/* BUTTON for closing Specific Filter (and Cross) */
.pdl-complexer-filter-cont .close-specific-filter-btn 
{
    background-color: rgba(255, 255, 255, .5);
}

/* Cross for Specific Filter Btn */
.pdl-complexer-filter-cont .close-specific-filter-btn .cross 
{
    background-color: #333;
    height: 2px;
    box-shadow: none;
}

/* HOVER for Close Button */
.pdl-complexer-filter-cont .close-specific-filter-btn:hover .cross 
{
    background: #fff;
}

/* Filter Button for Weight Categories (Light, Medium, Heavy, ...) */
.filter-btn-cont 
{
    width: 75%;
}

/* Range BUTTONS round (weight/height) */
.weight-range-btn 
{
    width: 70px;
    height: 70px;
    font-size: .9em;
    color: #fafafa;
    cursor: pointer;
    border-radius: 50%;
    background: #9EB7B8;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
    transition: .3s;
}

/* HOVER & SELECTED for Buttons Above */
.weight-range-btn:hover,
.weight-range-btn.selected-wr-btn 
{
    color: #000;
    text-shadow: none;
    background: #fafafa;
    box-shadow: .5px .5px 10px rgba(0,0,0,.5);
}

.weight-range-btn.selected-wr-btn 
{
    transform: scale(1.1);
    color: #9EB7B8;
}

    
/* ----------------------------------------------- DOUBLE RANGE SLIDER FOR FILTERING POKEMON (YouTube) */

/* Range Values (Change when moving Sliders) */
.range-values-cont 
{
    width: 17%;
    color: #fff;
    margin-top: 1.5em;
    justify-content: space-between;
}

.slider-cont 
{
    position: relative;
    width: 80%;
    margin-bottom: 50px;
    margin-top: 1.2em;
    z-index: 1000;
}

#range-slider 
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider 
{
    position: relative;
    height: 10px;
    margin: 0 15px;
    z-index: 1000;
}

/* Slider Track */
.slider > .track 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #c6aee7;
    background-color: #525252;
    z-index: 1000;
}

.slider > .range
{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #fff;
    z-index: 1000;
}

/* Slider Thumbs */
.slider > .thumb 
{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #9EB7B8;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    transition: box-shadow .3s ease-in-out;
    z-index: 3000;
}

.slider > .thumb.left 
{
    left: 25%;
    transform: translate(-15px, -10px);
}

.slider > .thumb.right 
{
    right: 25%;
    transform: translate(15px, -10px);
}

input[type=range] 
{
    -webkit-appearance: none;
    pointer-events: none;
    position: absolute;
    height: 10px;
    width: 100%;
    opacity: 0;
    z-index: 2000;
}

input[type=range]::-webkit-slider-thumb 
{
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
}

/* HOVER and Active classes when hovering over 'thumbs' or clicking them */
.slider > .thumb.hover 
{
    box-shadow: 0 0 0 20px rgba(255,255,255,.1);
}

.slider > .thumb.active 
{
    box-shadow: 0 0 0 25px rgba(255,255,255,.2);
}


/* From - To Values (Id/Weight/Height - Range) (right and left of slider) */
.range-nr 
{
    position: absolute;
    left: 1%;
    bottom: -350%;
    color: #fafafa;
}

.range-nr.to
{
    left: auto;
    right: 1%;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* ----------------------------------------------- PREVIOUS AND NEXT POKEMON BUTTONS (Arrows to navigate without closing Popup Window)  */

.prev-next-pkmn-btn 
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75%;
    width: 50px;
    height: 50px;
    color: #333;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 30000;
}

/* White circle around Prev/Next Btns */
.prev-next-pkmn-btn:before 
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, .3);
    transition: .3s;
    z-index: 1;
}

.prev-next-pkmn-btn:nth-child(1) 
{
    left: 5%;
}

.prev-next-pkmn-btn:nth-child(2) 
{
    right: 5%;
}

/* Arrow Icons */
.prev-next-pkmn-btn .fas 
{
    position: relative;
    font-size: 1.6em;
    z-index: 2;
}

/* SELECTED - For btns above */
.prev-next-pkmn-btn:hover.prev-next-pkmn-btn:before 
{
    transform: translate(-50%, -50%) scale(1);
}

/* Range Button */
#filter-range-btn 
{
    transform: translateY(-25%);
    margin: 0;
}

/* Range Button Tabs (Select Range Category - Height/Id/Weight)*/
.range-btn 
{
    background: #9EB7B8;
    margin: 0 10px;
    color: #fff;
    padding: .15em 1em;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
    transition: background-color .3s, text-shadow 0s, transform .3s;
}

/* HOVER & SELECTED - For Range Cat. Btns */
.range-btn:hover,
.range-btn.selected-range-tab 
{
    background-color: #fafafa;
    text-shadow: none;
    color: #9EB7B8;
    color: #000;
}

/* SELECTED - Range Tab Btn*/
.range-btn.selected-range-tab
{
    transform: scale(1.1);
}

.range-btns-cont 
{
    z-index: 3;
}

/* Line for Range Cat. Btns */
.range-btns-cont:before 
{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

/* Specific Filter Buttons (Filter By ...) */
.specific-filter-btn 
{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #525252;
    color: #fafafa;
    padding: .3em .5em;
    transition: .3s;
}

/* HOVER - Sp. Filter Btns */
.specific-filter-btn:hover 
{
    background-color: #fafafa;
    color: #333;
}

.specific-filter-btn:nth-child(2) 
{
    margin-bottom: 0;
}

/* Close Specific Filter Window */
.close-specific-filter-btn 
{
    position: absolute;
    top: 5%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: .3s;
}

/* HOVER - Close Sp. Filter W. */
.close-specific-filter-btn:hover 
{
    transform: scale(1.1);
}


/* ----------------------------------------------- FAVORITE PKMN CONTAINER (TO ADD/REMOVE FAV. PKMN) */

/* BUTTON - For clearing favs */
.clear-favs-btn,
.clear-favs-btn:before,
.fa-trash-alt
{
    transition: .3s;
}

/* BUTTON - Clear Favs */
.clear-favs-btn
{
    position: relative;
    border-radius: 25px;
    font-size: 1.2em;
    background: #333;
    color: #fff;
    width: 100%;
    height: 100%;
    min-height: 150px;
    cursor: pointer;
}

.clear-favs-btn p
{
    position: absolute;
    bottom: 10%;
    font-size: small;
    color: #333;
    transition: .3s;
    transform: translateY(80%);
}

.clear-favs-btn:before
{
    content: '';
    position: absolute;
/*            background: rgba(255,255,255,.5);  !!! */
    background: rgba(0,0,0,.5); 
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* HOVERS - Clear Favs Button  */
.fa-trash-alt:hover
{
    color: red;
    background: blue;
}

.clear-favs-btn:hover .fa-trash-alt
{
    transform: scale(1.1);
}

.clear-favs-btn:hover.clear-favs-btn:before
{
    transform: scale(1.1);
}

.clear-favs-btn:hover
{
    background: rgba(255,255,255,.1);
}

.clear-favs-btn:hover.clear-favs-btn p
{
    color: #fff;
    transform: translateY(0);
}

/* Favorite Pkmn Heart BUTTON */
.favorite-pkmn-cont 
{
    position: absolute;
    top: 4%;
    right: 6%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1.1em;
    background-color: rgba(255, 255, 255, .6);
    box-shadow: .5px 0 10px rgba(0, 0, 0, .25);
    cursor: pointer;
    transition: .3s;
    z-index: 1;
}

/* HOVER - Heart Btn */
.favorite-pkmn-cont:hover 
{
    background-color: #fff;
}

.display-gen-btn .far 
{
    font-size: .8em;
}

/* Unselected Heart */
.favorite-pkmn-cont .far 
{
    font-size: 1em;
}

/* Selected Heart */
.favorite-pkmn-cont .fas 
{
    color: red;
}


/* ----------------------------------------------- SCROLL UP/DOWN BUTTONS (TOP/BOTTOM OF SITE) */

#scroll-bottom-btn,
#scroll-top-btn 
{
    position: fixed;
    bottom: 3%;
    left: 5%;
    font-weight: bold;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #333;
    transition: .3s;
    outline: none;
    z-index: 6000;
}

/* Scroll Btn Icons */
#scroll-bottom-btn .fas,
#scroll-top-btn .fas 
{
    transition: .3s;
}

#scroll-bottom-btn.to-bottom-btn 
{
    left: auto;
    right: 3% !important;
}

/* HOVER - Top/Bottom btns */
#scroll-bottom-btn:hover .fas 
{
    transform: translateY(.3em);
}

#scroll-top-btn:hover .fas 
{
    transform: translateY(-.3em);
}


/* ----------------------------------------------- MEDIA QUERIES */

/* 1500px */
@media only screen and (min-width: 1500px) 
{
    .pdl-cont 
    {
        width: 70%;
    }
}

/* 1250px */
@media only screen and (max-width: 1250px) 
{
    .pdl-popup-content 
    {
        width: 90%;
    }
}

/* 940 - Header Headline font size becomes smaller */
@media only screen and (max-width: 940px) 
{
    .pdl-header-headline
    {
        font-size: 1em;
    }
}


/* 802px - Pkmn Description - headline for shiny sprites */
@media only screen and (max-width: 802px)
{
    .about-sprites-headline.for-shiny
    {
        top: auto;
        bottom: -25%;
    }
    
    .about-sprites:nth-child(1)
    {
        border-radius: 5px 5px 0 0;
    }
    
    .about-sprites:nth-child(2)
    {
        border-radius: 0 0 5px 5px;
        margin-bottom: 1em;
    }
}


/* 600px-768px - Pkmn img in popup window (avoid movement while scrolling) */
@media only screen and (max-width: 768px) and (min-width: 600px)
{
    .pdl-popup-img
    {
        position: absolute;
        top: -15%;
    }
}


/* Landscape for Tablet */
@media (orientation: landscape) and (min-width: 1000px) and (max-width: 1300px)
{
    .pdl-complexer-filter-cont
    {
        top: 70px;
    }
    
    .pdl-popup-cont
    {
        overflow-x: hidden;
    }
    
    .pdl-popup-img
    {
        position: absolute;
        top: -7.5em;
        width: 11em;
    }
}


/* Landscape for Mobile */
@media (orientation: landscape) and (max-width: 850px)
{
    .pdl-complexer-filter-cont
    {
        top: 0;
        height: 100vh;
        width: 100vw;
        padding-top: 55%;
        min-height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        border-radius: 0;
    }
    
    .range-btns-cont
    {
        margin-top: 5em;
    }
    
    .range-cont
    {
        margin-top: -1em;
    }
    
    
    .large-img-close-btn
    {
        right: 20%;
/*                right: 5%;*/
    }
    
    .large-img
    {
        width: 12em;
        height: 12em;
    }
    
    .large-img-sprite
    {
        width: 4em;
        height: 4em;
    }
    
    .pdl-popup-bg
    {
        height: 45% !important;
    }
    
    .prev-next-pkmn-btn:nth-child(1)
    {
        left: 0;
    }
    
    .prev-next-pkmn-btn:nth-child(2)
    {
        right: 0;
    }

}


/* Tablet */
@media only screen and (max-width: 768px) 
{
    .pdl-header
    {
        font-size: .9em;
    }
    
    .pdl-gen-btns-cont
    {
        left: 3%;
    }
    
    .pdl-header-search-cont
    {
        right: 3%;
    }
    
    /* makes scrolling possible */
    .pdl-popup-cont
    {
        top: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    .pdl-popup-tabs
    {
        font-size: .9em;
    }
    
    .pdl-popup-bg
    {
        height: 23%;
        font-size: .9em
    }
    
    .pdl-popup-img
    {
        transform: scale(.8) translate(-50%);
    }
    
    .pdl-popup-content
    {
        padding-top: 3.5em;
    }
    
    .popup-content-tab-cont
    {
        font-size: .9em;
    }
    
    .general-data-cont,
    .breed-data-cont 
    {
        width: 100%;
    }

    .pdl-cont 
    {
        width: 90%;
    }
    
    .poke-type-btn-cont
    {
        width: 90%;
        font-size: .75em;
    }
}


/* Mobile with heiger Screen Height (Iphone X etc) */
@media only screen and (min-height: 700px)
{
    .pdl-start-screen .pdl-start-screen-txt
    {
        margin-bottom: 2.3em;
    }
}

@media only screen and (max-height: 700px)
{
    .pdl-start-screen .pdl-start-screen-txt
    {
        margin-bottom: 1.8em;
    }
}


/* Mobile */
@media only screen and (max-width: 600px) 
{
    /* Invisible on Mobile */
    .not-visible-on-mobile
    {
        display: none !important;
    }
    
    /* Just visible on Mobile */
    .only-visible-on-mobile
    {
        display: block !important;
    }
    
    /* Visible on Mobile */
    .visible-on-mobile
    {
        opacity: 1;
        pointer-events: auto;
    }
    
    /* Loading */
    .loading-cont
    {
        transform: translateY(10%) translateX(-50%);
    }
    
    .loading-cont img
    {
        width: 100px;
    }

    /* Start Screen */
    .pdex-list-main-cont .pdl-start-screen
    {
        padding-bottom: 0;
    }
    
    .pdl-start-screen h1
    {
        font-size: 2em;
    }
    
    .pdl-start-screen-txt
    {
        width: 85%;
/*                margin: 0 auto;*/
        margin-bottom: 1.8em;
        cursor: pointer;
    }
    
    .read-more
    {
        display: contents !important;
    }
    
    .pdl-start-screen h4
    {
        font-size: 1.4em;
    }
    
    .pdl-start-screen .pdl-gen-btns-cont,
    .gen-btn-descr-cont
    {
        transform: scale(.95);
    }
    
    .toggle-poke-search-btn
    {
        transform: translateX(5%);
    }
    
    .social-txt
    {
        font-size: .8em;
    }
    
    .tabs-animation-cont
    {
        transform: scale(.9);
    }
    
/* Animation 2 */
    .animation-wrapper-two .top-cursor
    {
        display: none;
    }            
    
    .animation-wrapper-two
    {
            width: 100vw;
    }
    
    .animation-wrapper-two .weight-btn-cont
    {
        padding: 0 1.5em;
        margin: 3em 0 !important;
    }
    
    .animation-wrapper-two .range-btns-cont,
    .animation-wrapper-two .weight-btn-cont
    {
        transform: scale(.8);
    }
    
    .animation-wrapper-two .range-btns-cont
    {
        margin-bottom: 2.5em !important;
    }
    
    .animation-wrapper-two .weight-btn-cont
    {
        padding: 0 10%;
        font-size: .8em;
        font-weight: bolder;
    }
    
    .range-descr-txt
    {
        padding: 0 10%;
    }
                
    /* Header Section */
    .pdl-header
    {
        font-size: .8em;
    }
    
    .header-menu-btn
    {
        height: 40px;
        width: 40px;
        bottom: -30%;
    }
    
    .header-menu-cont
    {
        top: -150px;
        justify-content: center;
        height: 150px;
        font-size: .8em;
        padding: .5em;
    }
    
    .pdl-header-search-cont
    {
        left: 10%;
        right: auto;
    }
    
    .specific-search-btn
    {
/*                font-size: .9em;*/
        padding: .5em;
    }
    
/*            RESP: headline disappears by ca 970px widht !!!!!!!!!!!!!!*/
    
    .pdl-complexer-filter-cont
    {
        top: 0;
        padding-left: 5%;
        padding-right: 5%;
        height: 100%;
        width: 100%;
    }
    
    .close-specific-filter-btn
    {
        top: 3%;
    }
    
    /* Filter Type BUTTONS */
    .poke-type-filter-btn
    {
        font-size: .9em;
    }
    
    /* Pokedex List Container */
    .pdl-cont 
    {
        width: 95%;
    }
    
    .popup-content-tab-cont
    {
        min-height: 350px;
    }
    
    .pdl-popup-tabs
    {
        font-size: .8em;
    }

    .pdl-popup-bg
    {
        font-size: .7em;
    }
    
    .popup-close-btn
    {
        top: 1em;
    }
    
    .favorite-pkmn-cont
    {
        top: 1em;
    }
    
    #popup-pkmn-headline
    {
        font-size: 2.5em;
        margin-top: .5em;
        text-shadow: 0 0 5px rgba(0,0,0,.3);
    }
    
    /* Popup Window Container */
    .pdl-popup-id
    {
        margin-left: 80%;
    }
    
    .pdl-popup-img
    {
        top: 7%;
        transform: scale(.7) translateX(-70%);
    }
    
    .prev-next-pkmn-btn
    {
        top: 90%;
    }
    
    .about-to-txt-btn
    {
        right: 3%;
    }
    
    .pdl-popup-cont 
    {
/*  !!!!!!!!!!!! */
        width: 100%;
        width: 106%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0;
        font-size: .8em;
    }
    
    #evolutions-tab-cont
    {
        justify-content: flex-start;
        padding-top: 5em;
    }

    /* Base Stats */
    .poke-stat-attr
    {
        font-size: 1em;
        font-weight: bolder;
    }
    
    #base-stats-cont p
    {
        padding: 3% 5%;
        width: 80%;
    }
    
    #type-adv-tab
    {
        padding-bottom: 5em;
    }
    
    /* Moves Container */
    #moves-tab-cont
    {
/*                min-height: 350px;*/
        min-height: 50px;
    }
/*            !!!*/
    
    /* Move BUTTONS */
    .popup-moves
    {
        position: relative;
        padding-top: 6em;
    }
    
    .moves-category-btn-cont
    {
        top: 1em;
/*                top: 5px;*/
    }
    
    .pdex-card 
    {
        height: 200px;
    }
    
    /* creates space/margin to pkmn-cards */
    #scroll-top-btn 
    {
        left: 3%
    }
}


/* Iphone 5se */
@media only screen and (max-width: 350px)
{
    /* Specific Filter */
    .pdl-complexer-filter-cont
    {
        padding-top: 55%;
        min-height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    .pdl-complexer-filter-cont > div.flex-center
    {
        transform: scale(.8);
    }
    
    .range-cont
    {
        margin-top: -2em
    }
    
    /* Start Screen */
    .pdl-start-screen h1
    {
        font-size: 1.8em;
    }
    
    .pdl-start-screen p
    {
        font-size: .8em;
    }
    
    .pdl-start-screen-txt
    {
        width: 75%;
    }
    
    .pdl-start-screen h4
    {
        font-size: 1.25em;
    }
    
    .social-txt
    {
        font-size: .75em;
    }
    
    .top-cursor
    {
        width: 38px !important;
    }
    
    .toggle-poke-search-btn
    {
        transform: translateX(-1.8em);
    }
    
    .toggle-poke-search-btn:hover
    {
        transform: translateX(-1.8em) scale(1.1) !important;
    }
    
    .pdl-start-screen .pdl-gen-btns-cont,
    .gen-btn-descr-cont
    {
        transform: scale(.8);
    }

    .gen-btn-descr-cont p
    {
        font-size: 1em;
    }
    
    .animated-descr-cont .tabs-animation-cont
    {
        transform: scale(.75);
        font-size: 1.1em;
        padding-top: 0;
    }
    
    /* Animation 2 */
    .animation-wrapper-two .range-btns-cont
    {
        font-size: .9em;
    }
    
    .animation-wrapper-two .weight-range-btn
    {
        transform: scale(.9);
        font-size: 1em;
    }
    
    .animation-wrapper-two .weight-btn-cont
    {
        padding: 0 12%;
    }
    
    .range-descr-txt
    {
        padding: 0 10%;
    }
    
    /* Header Section / Popup Window */
    .large-img
    {
        width: 15em;
        height: 15em;
    }
    
    .img-underline
    {
        width: 20em;
    }
    
    .large-img-sprite
    {
        width: 3.5em;
        height: 3.5em;
    }
    
    .pdl-header-search-cont
    {
        left: 5%;
    }
    
    .specific-search-btn
    {
        font-size: .9em;
    }
    
    #popup-pkmn-headline
    {
        margin: 0;
    }
    
    .pdl-popup-id
    {
        margin-left: 80%;
    }
    
    .pdl-popup-img
    {
        transform: scale(.6) translateX(-80%);
    }
                
    .pdl-popup-tabs
    {
        margin-bottom: .5em;
    }
    
    .popup-tab
    {
        font-size: 1.09em;
    }
    
    .general-data-cont
    {
        font-size: .9em;
    }
    
    /* Base Stats Container */
    #base-stats-cont p
    {
        width: 85%;
        font-size: .9em;
    }
    
    /* Evolution Container */
    #evolutions-tab-cont
    {
        padding-top: 3em;
    }
    
    .move-name
    {
        font-size: 1em !important;
        margin:2px
    }
    
    .popup-moves
    {
        padding: 3%;
        padding-top: 6em;
    }
    
    .popup-move
    {
        margin: 1px;
    }
    
    #scroll-bottom-btn,
    #scroll-top-btn 
    {
        width: 30px;
        height: 30px;
    }
}



/* ----------------------------------------------- START SCREEN (Animations) */

.pdl-start-screen
{
    position: absolute;
    top: 0;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2em 15%;
    padding-bottom: .5em;
    background: #eee;
    text-align: center;
    min-height: 90vh;
    cursor: default;
    animation: appearStartScreen .3s forwards ease-out;
}

/* ANIMATION - Start Screen Slide up (appear) */
@keyframes appearStartScreen
{
    to
    {
        top: -55%;
        opacity: 1;
    }
}

/* Social Media Icons */
.social-txt-icon
{
    cursor: pointer;
}

.social-txt .social-txt-icon i
{
    font-size: 1.5em;
    color: #FB6C6C;
    margin: .1em;
}

.social-txt .social-txt-icon:hover i
{
    color: #000;
}

/* Follow me span */
.follow-span
{
    font-size: small;
    font-weight: bolder;
    margin-right: .5em;
    color: #333;
}

/* Text */
.pdl-start-screen-txt
{
    font-size: .9em; 
    font-weight: 500;
    cursor: default;
    margin: 0 auto;
}

.slide-cont
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 2.3em;
}

/* Sliding up Headline */
.pdl-start-screen h4
{
    position: absolute;
    margin-bottom: .8em;
    transform: translateY(200%);
    animation: headlineSlide .15s ease-out forwards;
    animation-delay: 1.5s;
}

/* Wrapper red bg around Generation Btns */
.gen-btns-wrapper
{
    width: 100%;
}

.gen-btn-txt
{
    color: #000; 
    font-size: small;
    font-weight: 500;
    margin-bottom: 0em;
    transition-delay: .25s;
}

/* Read more span */
.read-more
{
    margin-left: .1em;
    color: blue;
    font-family: italic;
    display: none;
}

.pdl-start-screen .pdl-gen-btns-cont
{
    position: relative;
    left: auto;
    margin: 1em 0; 
    background: crimson; 
    padding: .5em; 
    border-radius: 5px;
}

/* Gen Button Description Container */
.gen-btn-descr-cont
{
    position: relative;
    width: 18.8em;
    height: 3em;
    margin: 0 auto;
    padding: .5em;
    border-radius: 5px;
    margin-top: -.3em;
    margin-bottom: 1.5em;
    box-shadow: 0 0 0 1px rgba(55,55,55,.2);
}
/* http://www.menucool.com/tooltip/css-tooltip*/

.gen-btn-descr-cont.gen-box-shadow
{
    box-shadow: none;
    box-shadow: 0 0 0 1px rgba(55,55,55,1);
}

.pdl-start-screen .gen-btn-descr-cont .gen-btn-descr
{
    font-size: .7em;
    font-weight: bolder;
}

.gen-btn-descr p
{
    transition: .2s ease-out;
}

.gen-btn-descr
{
    justify-content: space-around;
}

/* Triangle Arrow */
.arrow-up 
{
    position: absolute;
    top: -.35em;
    left: 10%;
    width: 0; 
    height: 0; 
    transition: .3s;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

/* Animated Tutorial Container */
.animated-descr-cont
{
    width: 400px;
    height: 230px;
    background: #333;
    padding: 3em;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
}

/* Animated Pkmn Card (Start Screen) */
.pdl-start-screen .poke-card-wide
{
    padding-top: 3.5%;
    min-height: 150px;
    width: 250px;   
}

.pdl-start-screen .poke-card-wide:hover
{
    transform: none;
    cursor: default;
}
        
.vertical-line
{
    height: 1.3em;
    width: 2px;
    background: #333;
    margin: 0 .2em;
}

.social-txt
{
    font-weight: 500;
    margin-bottom: 1em;
}

/* Mouse Pointer (top - generation btns) */
.top-cursor
{
    position: absolute;
    top: 4.5em;
    left: 50%;
    width: 30px;
    padding: .25em;
    transition: .2;
    background: transparent;
    transform: rotate(-20deg) translateX(-50%);
    z-index: 200;
    opacity: .3;
    animation-delay: 2s;
}

/* Toggle Poke-Search BUTTON */
.toggle-poke-search-btn
{
    position: absolute;
    right: 1.5em;
    transition: .2s;
    cursor: pointer;
}

/* HOVER - Toggle Poke-Search Btn */
.toggle-poke-search-btn:hover
{
    color: #000;
    transform: scale(1.1);
}

/* Mouse Poiner (bottom - animated descr cont) */
.cursor
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    background: #fff;
    border-radius: 50%;
    padding: .3em;
    z-index: 200;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    transform: rotate(-20deg) translate(18em, 15em);
    transition: .5s ease-out;
}

/* Animated Bottom Tabs */
.tabs-animation-cont
{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 2em;
    justify-content: space-between;
}

/* Line over Tabs Container */
.tabs-animation-cont .line
{
    content: '';
    position: absolute;
    bottom: 4.5em;
    width: 80%;
    height: 3px;
    background: #fff;
    transition: .2s;
}

.tabs-animation-cont .pdl-popup-tabs
{
    font-size: .75em;
    overflow: hidden; 
    padding: 1.5em .5em;
}

.tabs-animation-cont .pdl-popup-tabs .popup-tab
{
    transition: .2s;
    transform: translateY(3em);
}

/* Slided up - Tabs */
.tabs-animation-cont .pdl-popup-tabs .popup-tab.slided-up
{
    transform: translateY(0);
}

/* Animated Text */
.animation-txt
{
    opacity: 0;
    color: #fff;
    font-size: .9em;
    padding: 0 1.5em;
    transition: .2s ease-out;
    transform: translateY(2.5em);
}

.txt-animation
{
    opacity: 1;
    transform: translateY(0);
}

/*----------------------------------------------- ANIMATION CLASSES - STARTING SCREEN DESCRIPTION */

/* ANIMATION - Onload */
@keyframes headlineSlide
{
    to
    {
        transform: translateY(0);
    }
}

.main-animation-wrapper
{
    position: relative;
    min-width: 400px;
}

.main-animation-wrapper .animation-wrapper-one,
.main-animation-wrapper .animation-wrapper-two
{
    position: relative;
    top: 0;
    left: 0;
}

/* ANIMATION - Top cursor moves to gen Button & clicks */
.top-cursor.move-top-cursor
{
    animation: moveTopCursor 2s forwards;
}

@keyframes moveTopCursor
{
    0%
    {
        opacity: 1;
    }
    60%
    {
        opacity: 1;
        top: 2.3em;
        left: 1em;
        transform: rotate(90deg) translateX(-50%);
    }
    80%
    {
        opacity: 1;
        top: 2.3em;
        left: 1.5em;
        transform: rotate(90deg) translateX(-50%);
    }
    100%
    {
        opacity: 1;
        top: 2.3em;
        left:  1em;
        transform: rotate(90deg) translateX(-50%);
    }
}

/* ANIMATION - Cursor Animation (gets visible & slides in) */
.cursor-animation
{
    animation: cursorAni forwards 2s;
}

@keyframes cursorAni
{
    to 
    {
        transform: rotate(-20deg) translate(-1.5em, 1.3em);
    }
}

/* ANIMATION - For Pkmn Card (click effect and dispappers) */
.pkmn-card-animation
{
    animation: clicked 1.5s ease-out forwards;
}

@keyframes clicked
{
    35%
    {
        transform: scale(.9);
    }
    70%
    {
        transform: scale(1);
    }
    90%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}


/* Starter Screen Range Buttons Container */
.starter-screen-filter-tabs .range-btns-cont:before
{
    background: #000;
}

.starter-screen-filter-tabs .range-btns-cont .range-btn
{
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

/* Wrapper for 2. Animation */
.animation-wrapper-two
{
    width: 400px;
    background: #eee;
}

.animation-wrapper-two .weight-range-btn,
.starter-screen-filter-tabs .range-btns-cont .range-btn
{
    cursor: default;
}

.starter-screen-filter-tabs .range-btns-cont .range-btn
{
    pointer-events: none;
}

/* 2. Animation - Range Buttons */
.animation-wrapper-two .range-btns-cont
{
    opacity: 0;
    margin-top: 2.5em;
    margin-bottom: -.5em;
    transition: .2s ease-out;
    transform: translateY(2em);
}

/* Slided up (both) */
.animation-wrapper-two .weight-btn-cont.slide-up,
.animation-wrapper-two .range-btns-cont.slide-up
{
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/* 2. Animation - Mouse Pointer (top) */
.animation-wrapper-two .top-cursor
{
    top: 2.5em;
    transform: rotate(0deg) translateX(-50%)
}

.animation-wrapper-two .weight-btn-cont
{
    justify-content: space-around;
    transform: translateY(2em);
    transition: .2s ease-out;
    margin: 5em 0;
    width: 100%; 
    opacity: 0;
}

/* 2. Animation - Animated Text over Range Btns */
.range-descr-txt
{
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translateX(-50%) translateY(2.5em);
    opacity: 0;
    font-size: smaller;
    font-weight: bolder;
    width: 100%;
    justify-content: space-around;
    transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.range-descr-txt.bounce-up
{
    transform: translateX(-50%) translateY(0) !important;
    opacity: 1 !important; 
}


/* Start Screen - Poke-Search Container */
.pdl-start-screen .pdl-gen-btns-cont .pdl-header-search-cont
{
    position: relative;
    right: auto;
    left: auto;
    margin: 0 .5em;
}

/* removes pointer events from input field and Search Btn */
.pdl-start-screen .pdl-gen-btns-cont input, 
.pdl-start-screen .pdl-gen-btns-cont .pdex-list-search-btn
{
    pointer-events: none;
}

.loading-cont img
{
    width: 130px;
}
